.about
  .container
    .row.justify-content-center
      .col-12.col-sm-6.col-md-4.about__col
        picture.picture
          source(srcset="./img/about/icon/cell/cell.webp, ./img/about/icon/cell/cell@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/about/icon/cell/cell.png, ./img/about/icon/cell/cell@2x.png 2x", class="img")
        h3.col__subtitle Более 1000 наименований
        p.col__text Возможность заказа и подбора более чем по 2000 наименований деталей
      .col-12.col-sm-6.col-md-4.about__col
        picture.picture
          source(srcset="./img/about/icon/truck/truck.webp, ./img/about/icon/truck/truck@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/about/icon/cell/truck.png, ./img/about/icon/truck/truck@2x.png 2x", class="img")
        h3.col__subtitle Доставка в любой регион РФ
        p.col__text Мы работаем с любой транспортной компанией и осуществляем доставку в любой регион РФ
      .col-12.col-sm-6.col-md-4.about__col
        picture.picture
          source(srcset="./img/about/icon/new/new.webp, ./img/about/icon/new/new@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/about/icon/new/new.png, ./img/about/icon/new/new@2x.png 2x", class="img")
        h3.col__subtitle Новое состояние деталей
        p.col__text Наши детали не были в употреблении и имеют состояние новых
      .col-12.col-sm-6.col-md-4.about__col
        picture.picture
          source(srcset="./img/about/icon/europe-flag/europe-flag.webp, ./img/about/icon/europe-flag/europe-flag@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/about/icon/europe-flag/europe-flag.png, ./img/about/icon/europe-flag/europe-flag@2x.png 2x", class="img")
        h3.col__subtitle Европейское качество
        p.col__text Все наши детали привезены из Европы, что гарантирует отличное качество.
      .col-12.col-sm-6.col-md-4.about__col
        picture.picture
          source(srcset="./img/about/icon/letters/letters.webp, ./img/about/icon/letters/letters@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/about/icon/letters/letters.png, ./img/about/icon/letters/letters@2x.png 2x", class="img")
        h3.col__subtitle Работаем по договору
        p.col__text Все, что мы делаем - официально. Мы заключаем договор купли-продажи и предоставляем все необходимые документы