section.section.clients
  .container
    h2.title.title--center Клиенты о нас
    .row.clients__row
      .clients__item.col-6
        picture.col__picture.clients__picture
          source(srcset="./img/clients/client.webp, ./img/clients/client@2x.webp 2x", type="image/webp")
          img(src="#", alt="client-photo", srcset="./img/clients/client.lpg, ./img/clients/client@2x.jpg 2x")
        .clients__content
          span.clients__author Иван Иванович 
          h3.col__subtitle.clients__subtitle Не могу найти фару для авто
          blockquote.col__text.clients__text "Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису, скидкам, отличному качеству продукции."
      .clients__item.col-6
        picture.col__picture.clients__picture
          source(srcset="./img/clients/client.webp, ./img/clients/client@2x.webp 2x", type="image/webp")
          img(src="#", alt="client-photo", srcset="./img/clients/client.lpg, ./img/clients/client@2x.jpg 2x")
        .clients__content
          span.clients__author Иван Иванович 
          h3.col__subtitle.clients__subtitle Не могу найти фару для авто
          blockquote.col__text.clients__text "Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису, скидкам, отличному качеству продукции."
      .clients__item.col-6
        picture.col__picture.clients__picture
          source(srcset="./img/clients/client.webp, ./img/clients/client@2x.webp 2x", type="image/webp")
          img(src="#", alt="client-photo", srcset="./img/clients/client.lpg, ./img/clients/client@2x.jpg 2x")
        .clients__content
          span.clients__author Иван Иванович 
          h3.col__subtitle.clients__subtitle Не могу найти фару для авто
          blockquote.col__text.clients__text "Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису, скидкам, отличному качеству продукции."
      .clients__item.col-6
        picture.col__picture.clients__picture
          source(srcset="./img/clients/client.webp, ./img/clients/client@2x.webp 2x", type="image/webp")
          img(src="#", alt="client-photo", srcset="./img/clients/client.lpg, ./img/clients/client@2x.jpg 2x")
        .clients__content
          span.clients__author Иван Иванович 
          h3.col__subtitle.clients__subtitle Не могу найти фару для авто
          blockquote.col__text.clients__text "Мотордеталь в широком ассортименте по ценам от известного дистрибьютора автозапчастей. ООО "РАДИАТОР" пользуется заслуженным уважением среди покупателей, благодаря высокому сервису, скидкам, отличному качеству продукции."