.contacts
  .container
    .contacts__content
      h2.title.title--center.contacts__title Контакты
      p.text.text--center.contacts__text г. Москва, ул. Дорожная, 8, к.1
      a(href="tel:+88001234334", class="contacts__tel") 8 800 123 43 34
      a(href="mailto:info@sitename.ru", class="contacts__mail") info@sitename.ru