footer.footer
  .container.footer__container
    a(href="index.html", class="logo") Логотип
    .phone
      a(href="tel:+88002323212", class="phone__number phone__number--dark") 8 800 232 32 12
      a(href="#", class="callback phone__callback") Заказать обратный звонок