header.header
  a(href="index.html", class="logo") Логотип
  .phone
    a(href="tel:+88002323212", class="phone__number phone__number--light") 8 800 232 32 12
    a(href="#", class="callback phone__callback") Заказать обратный звонок