.hero
  .container.hero__container
    include ./header
    .hero__content
      h1.hero__title Продажа кузовных запчастей
        span.hero__subtitle с заводской покраской без пробега по РФ
      .row.justify-content-center
        .col-3.hero__col
          picture.picture.col__picture
            source(srcset="./img/hero/icon/truck/truck.webp, ./img/hero/icon/truck/truck@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="", srcset="./img/hero/icon/truck/truck.png , ./img/hero/icon/truck/truck@2x.png 2x", class="img")
          span.col__description Доставка по РФ от 3-х дней
        .col-3.hero__col
          picture.picture.col__picture
            source(srcset="./img/hero/icon/new/new.webp, ./img/hero/icon/new/new@2x.webp 2x", type="image/webp", class="img")
            img(src="#", alt="", srcset="./img/hero/icon/new/new.png, ./img/hero/icon/new/new@2x.png 2x", class="img")
          span.col__description Новое состояние по цене б/у
        .col-3.hero__col
          picture.picture.col__picture
            source(srcset="./img/hero/icon/list/list.webp, ./img/hero/icon/list/list@2x.webp 2x", class="img")
            img(src="#", alt="", srcset="./img/hero/icon/list/list.png, ./img/hero/icon/list/list@2x.png 2x", class="img")
          span.col__description Наличие более 500 различных деталей
      .row.justify-content-center
        .col-4.hero__col
          button.button Быстрая заявка
          p.col__text.hero__text Мы перезвоним Вам для уточнения деталей.
        .col-4.hero__col
          a(href="#request", class="button") Подробная заявка
          p.col__text.hero__text Заполните подробную заявку онлайн!