.video 
  .container
    h2.title.title--center Вы можете посмотреть что происходит у нас!
    .video__wrap
      iframe(src="https://www.youtube.com/embed/ZRXEdSqNSmo", frameborder="0", allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen, class="video__content")