.contacts {
  padding-top: 3.125rem;
  padding-bottom: 13.125rem;
  color: $color-light;
  background: $color-main url('../img/contacts/background/map-bg.jpg') center / cover no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    padding: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-action;
    font-size: 1.25rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__text {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }

  &__mail, &__tel {
    display: block;
    color: inherit;
    transition: color 0.3s linear;

    @media screen and (min-width: 992px) {
      &:hover {
        color: darken($color-light, 45%);
      }
    }
  }

  &__tel {
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 1.5em;
  }
}