.popup {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    opacity: 0;
    transition: all 0.3s linear;

    &--active {
      display: flex;
      opacity: 1;
    }
  }

  &__content {
    position: relative;
    padding: 2.187rem 3.125rem;
    max-width: 20rem;
    background-color: $color-light;

    &--thanks {
      display: block;
    }
  
    &--callback {
      display: block;
    }
  
    &--quick-request {
      display: block;
    }
  }

  &__title {
    font-size: 0.875rem;
  }

  &__text {
    font-size: 0.75rem;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -2rem;
    width: 1.375rem;
    height: 1.375rem;
    border: none;
    cursor: pointer;
    background: transparent url('../img/popup/icon/close.png') center no-repeat;
  }

  &__input {
    width: 100%;
    max-width: 13.75rem;
    padding: 1em 2.5em 1em 1.25em;
    margin-top: 0.833em;
    border: 0.063rem solid darken($color-main, 5%);
    color: $color-dark;
    font-size: 0.75rem;

    &::placeholder {
      color: darken($color-main, 45%);
    }

    &:first-of-type {
      margin-top: 1.5em;
    }

    &[type="text"] {
      background: url('../img/popup/icon/user.png') top 13px right 15px no-repeat;
    }

    &[type="tel"] {
      background: url('../img/popup/icon/tel.png') top 13px right 15px no-repeat;
    }

    &[type="email"] {
      background: url('../img/popup/icon/mail.png') top 13px right 15px no-repeat;
    }
  }

  &__button {
    max-width: 13.75rem;
    margin-top: 1em;
    color: $color-light;
    font-size: 1rem;
    
    @media screen and (min-width: 992px) {
      &:hover {
        color: $color-dark;
      }
    }
  }
}