$font-main: Lato, sans-serif;
$font-secondary: 'Lato Bold';

$color-dark: #000000;
$color-light: #ffffff;
$color-main: #ebebeb;
$color-action: #d91233;
$color-secondary: rgba(33, 33, 33, 0.85);

$spinkit-size: 1.125rem;
$animationDuration: 1.4s;
$delayRange: 0.32s;